In [1]:
import pandas as pd

# 예제 데이터프레임
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Score': [85, 90, 78, 88]
}
df = pd.DataFrame(data)

In [2]:
df

      Name  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     78
3    David   32     88

In [3]:
df[df['Age'] >= 25]

    Name  Age  Score
1    Bob   27     90
3  David   32     88

In [7]:
data = {'Alice': [24, 85],
        'Bob': [27, 90],
        'Charlie': [22, 78],
        'David': [32, 88]}

filtered_dict = {key: value for key, value in data.items() if value[0] >= 25}

In [8]:
filtered_dict

{'Bob': [27, 90], 'David': [32, 88]}